<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumEasy Suit"  >

<test name="SeleniumEasy Test">
<parameter name="url" value="http://www.seleniumeasy.com/test/"/>
<classes>

<class name="SeleniumEasyAutomationTest.SimpleFormDemo"/>

</classes>

</test>

</suite>